.blockName{
    width: 320px;
    max-height: 380px;
font-size: 0.6rem;
 background-color: gray;

color: white;
}
.blockName_card-header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 100%;
    text-align: center;
    background-color: red;
    color: white;
    border: 1px solid yellow;
    cursor: pointer;
    animation: visible 0.5s 1;
  }

  .blockName_card-header:hover{
    border: 1px solid red;
    color: red;
    background-color: white;
  }

.blockNameDesc{
    position: absolute;
    max-width: 320px;
    max-height: 350px;
    opacity: 1;
    background-color: blueviolet;
    animation: visible 0.5s 1;
    border-radius: 10px;
  }
.card-text.corporation{
cursor: pointer;
}
.card-text.corporation:hover{
  color: yellow
  }

  @keyframes visible {       
    from { max-height: 0px;
    opacity: 0; }         
    to { max-height: 350px;
    opacity: 1; } 
  }